@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

.nav-links a,
.logo a {
  text-decoration: none;
  color: rgb(242, 243, 245);
  font-family: "Poppins", sans-serif;
  /* display: block; */
}

.nav-links a:hover,
.logo a:hover {
  color: white;
}

nav {
  /* margin 0; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #0d5be1;
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: block;
  margin: 1rem;
  text-align: center;
}

.logo a {
  font-family: "lobster", sans-serif;
  /* font-weight: bold; */
  font-size: xx-large;
}
