@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 243, 245);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h3 {
  text-align: center;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 20%;
  margin-top: 2rem;
  background-color: rgb(218, 222, 230);
  padding: 1rem;
  /* border: 2px solid red; */
}

button,
span {
  display: block;
  /* margin: 8px auto; */
  margin-top: 1rem;
}

button {
  margin-top: 2rem;
}

.error {
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  color: red;
}
