@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 243, 245);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h3 {
  text-align: center;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 25%;
  margin-top: 2rem;
  background-color: rgb(218, 222, 230);
  padding: 1rem 2rem;
  /* border: 2px solid red; */
}

button,
span {
  display: block;
  /* margin: 8px auto; */
  margin-top: 1rem;
}

button {
  margin: 0 auto;
  width: 50%;
}

button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* #id_password {
  background-color: black;
} */

.error {
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  color: red;
}

.signup {
  text-align: center;
  /* margin: 0 auto; */
  /* text-decoration: none; */
  font-size: small;
  padding: 0;
}

/* a.signup {
  text-decoration: none;
}

span {
  text-decoration: dashed;
} */

.signup {
  margin-top: 1rem;
  font-size: smaller;
  text-decoration: none;
}

.signup span {
  color: #1100ff;
  text-decoration: underline;
}
