@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 243, 245);
  box-sizing: border-box;
  font-family: "Playfair Display", "Poppins", sans-serif;
}

.start {
  margin-top: 5rem;
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

h3,
h1 {
  margin-bottom: 2rem;
  color: rgb(42, 19, 105);
}

h1 {
  font-size: xx-large;
}

.result {
  display: flex;
  flex-direction: column;
  min-width: 90%;
  /* border: 2px solid red; */
  margin-left: 2rem;
  margin-top: 2rem;
  display: inline-flex;
}

.result > div {
  margin-bottom: 0.5rem;
}

.result-link {
  color: #0d5be1;
  margin-bottom: 1rem;
}

button {
  color: rgb(242, 243, 245);
  background-color: #0d5be1;
  border: none;
  padding: 0.5rem;
}

button a {
  color: inherit;
  text-decoration: none;
  padding: 0%;
}

button:hover {
  background-color: #ffff19;
  color: #005eff;
}
