@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 243, 245);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h3 {
  margin-bottom: 2rem;
  color: rgb(138, 113, 113);
}

.result {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  margin-left: 2rem;
  margin-top: 2rem;
  display: inline-flex;
}

.result > div {
  margin-bottom: 0.5rem;
}

.result-link {
  color: #0d5be1;
  margin-bottom: 1rem;
}

a.bin {
  text-decoration: none;
}
