@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

@media print {
  .instructions {
    visibility: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;

  background: #fafafa;

  color: rgba(0, 0, 0, 0.75);
}

h1 {
  color: rgba(0, 0, 0, 0.9);
}

h1,
p {
  box-sizing: border-box;

  margin: 0px;

  padding: 0px 24px;
}

.line-break {
  width: 100%;

  height: 1px;

  margin: 16px auto;

  border-bottom: 1px solid #eee;
}

.resume {
  border-radius: 8px;

  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  max-width: 800px;

  margin: 48px auto;

  padding: 16px 0px;

  background: white;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.resume-group {
  box-sizing: border-box;

  padding: 8px 0px;

  width: 100%;

  display: flex;

  border-left: 3px solid transparent;
  margin-top: 5px;

  transition: 0.2s;
}

.resume-group:hover {
  border-left: 3px solid #64ffda;
}

.left-col {
  width: 35%;
}

.right-col {
  width: 65%;
}

.instructions {
  opacity: 0.5;

  text-align: center;

  font-size: 0.8rem;

  margin: 16px auto;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.left {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  background: rgb(238, 238, 238);
  border-radius: 3px 0 0 3px;
  color: rgb(102, 70, 219);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: rgb(73, 201, 179);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  color: rgb(238, 238, 238);
  background-color: rgb(102, 70, 219);
}

.tag:hover::after {
  border-left-color: rgb(102, 70, 219);
}
