@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");

@media print {
  .instructions {
    visibility: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;

  background: #fafafa;

  color: rgba(0, 0, 0, 0.75);
}

h1 {
  color: rgba(0, 0, 0, 0.9);
}

h1,
p {
  box-sizing: border-box;

  margin: 0px;

  padding: 0px 24px;
}

.line-break {
  width: 100%;

  height: 1px;

  margin: 16px auto;

  border-bottom: 1px solid #eee;
}

.resume {
  border-radius: 8px;

  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  max-width: 800px;

  margin: 48px auto;

  padding: 16px 0px;

  background: white;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.resume-group {
  box-sizing: border-box;

  padding: 8px 0px;

  width: 100%;

  display: flex;

  border-left: 3px solid transparent;

  transition: 0.2s;
}

.resume-group:hover {
  border-left: 3px solid #64ffda;
}

.left-col {
  width: 35%;
}

.right-col {
  width: 65%;
}

.instructions {
  opacity: 0.5;

  text-align: center;

  font-size: 0.8rem;

  margin: 16px auto;
}
