{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <title>Create Resume</title>
    <script src="{% static 'js/form.js' %}" defer></script>
  </head>
  <body>
    {% include "navbar.html" %}
    <form class="form" action="redirect" method="POST">
      {% csrf_token %}

      <h2 class="create-resume">Create Resume</h2>

      <section class="intro">
        <label for="title">Title *</label>
        <input type="text" id="title" name="title" required />
        <label for="name">Name *</label>
        <input type="text" id="name" name="name" required />

        <label for="phone"> Phone * </label>
        <input
          type="tel"
          maxlength="12"
          minlength="8"
          id="phone"
          name="phone"
          required
        />

        <label for="email">Email *</label>
        <input type="email" id="email" name="email" required />

        <label for="website">Website/Link </label>
        <input type="url" id="website" name="website" />

        <label for="location">Location *</label>
        <input type="text" id="location" name="location" required />

        <label for="job-profile">Current job profile</label>
        <input type="text" id="job-profile" name="job-profile" />

        <label for="profile"> Profile *</label>
        <textarea
          rows="10"
          cols="30"
          id="profile"
          name="profile"
          placeholder="Describe yourself here..."
          required
        ></textarea>
      </section>

      <!-- Education, courses, skills, acheivments, work experience -->

      <section class="education">
        <h3>Enter your educational experience</h3>

        <div>
          <h5>Latest educational background *</h5>

          <label for="start-education-1">Start year</label>
          <input
            type="text"
            id="start-education-1"
            name="start-education-1"
            required
          />

          <label for="end-education-1">End year</label>
          <input
            type="text"
            id="end-education-1"
            name="end-education-1"
            required
          />

          <label for="institution-1">Institution name</label>
          <input type="text" id="institution-1" name="institution-1" required />

          <label for="degree-1">Degree/Qualification</label>
          <input type="text" id="degree-1" name="degree-1" required />
        </div>

        <div>
          <h5>Past educational background</h5>

          <label for="start-education-2">Start year</label>
          <input type="text" id="start-education-2" name="start-education-2" />

          <label for="end-education-2">End year</label>
          <input type="text" id="end-education-2" name="end-education-2" />

          <label for="institution-2">Institution name</label>
          <input type="text" id="institution-2" name="institution-2" />

          <label for="degree-2">Degree/Qualification</label>
          <input type="text" id="degree-2" name="degree-2" />
        </div>

        <div>
          <h5>Another past educational background</h5>

          <label for="start-education-3">Start year</label>
          <input type="text" id="start-education-3" name="start-education-3" />

          <label for="end-education-3">End year</label>
          <input type="text" id="end-education-3" name="end-education-3" />

          <label for="institution-3">Institution name</label>
          <input type="text" id="institution-3" name="institution-3" />

          <label for="degree-3">Degree/Qualification</label>
          <input type="text" id="degree-3" name="degree-3" />
        </div>
      </section>

      <section class="work">
        <h3>Enter your work experience</h3>

        <div>
          <h5>Enter your recent work experience</h5>

          <label for="start-work-1">Start year</label>
          <input type="text" id="start-work-1" name="start-work-1" />

          <label for="end-work-1">End year</label>
          <input type="text" id="end-work-1" name="end-work-1" />

          <label for="job-title-1">Job Title</label>
          <input type="text" id="job-title-1" name="job-title-1" />

          <label for="employer-1">Employer/Company name</label>
          <input type="text" id="employer-1" name="employer-1" />
        </div>

        <div>
          <h5>Enter your past work experience</h5>

          <label for="start-work-2">Start year</label>
          <input type="text" id="start-work-2" name="start-work-2" />

          <label for="end-work-2">End year</label>
          <input type="text" id="end-work-2" name="end-work-2" />

          <label for="job-title-2">Job Title</label>
          <input type="text" id="job-title-2" name="job-title-2" />

          <label for="employer-2">Employer/Company name</label>
          <input type="text" id="employer-2" name="employer-2" />
        </div>

        <div>
          <h5>Enter another past work experience</h5>

          <label for="start-work-3">Start year</label>
          <input type="text" id="start-work-3" name="start-work-3" />

          <label for="end-work-3">End year</label>
          <input type="text" id="end-work-3" name="end-work-3" />

          <label for="job-title-3">Job Title</label>
          <input type="text" id="job-title-3" name="job-title-3" />

          <label for="employer-3">Employer/Company name</label>
          <input type="text" id="employer-3" name="employer-3" />
        </div>
      </section>

      <section className="extra">
        <h3>Enter your skills *</h3>
        <textarea
          name="skills"
          cols="30"
          rows="10"
          id="skills"
          placeholder=""
          required
        ></textarea>
      </section>

      <button type="submit">Create Resume</button>
    </form>
  </body>
</html>
