{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <title>Create Resume</title>
    <script src="{% static 'js/form.js' %}" defer></script>
  </head>
  <body>
    {% include "navbar.html" %}
    {% if edit %}
    <form class="form" action='redirect-edit/{{resume.id}}' method="POST">
      {% else %}
      <form class="form" action='redirect' method="POST">
    {% endif %}
      {% csrf_token %}

      {% block formedit %}
        
      {% endblock %}
     
    </form>
  </body>
</html>
