{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>precis.io: Resume Builder</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %} {% if user.is_authenticated %} {% endif %}
    <section class="part-1">
      <div class="intro">
        {% if user.email %}
        <h5>Hi {{user.email}}</h5>
        {% endif %}
        <h3>Welcome to precis.io</h3>
        <p>Your go to place for creating resumes on the fly!</p>
      </div>
      <img src="{% static 'img/homeimg.png' %}" alt="" />
    </section>
  </body>
</html>
