{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>precis.io: Resume Builder</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="{% static 'img/icons8-resume-32.png' %}" type="image/x-icon">
  </head>
  <body>
    {% include "navbar.html" %} {% if user.is_authenticated %} {% endif %}
    <section class="part-1">
      <div class="intro">
        {% if user.email %}
        <h3>Hi {{user.email}}</h3>
        {% endif %}
        <h2>Welcome to precis.io</h2>
        <p>Your go to place for creating resumes on the fly!</p>
        {% if user.email %}
        <button><a href="{% url 'form' %}">CREATE RESUME</a></button>
        {% else %}
        <button><a href="{% url 'login' %}">CREATE RESUME</a></button>
        {% endif %}
      </div>
      <img src="{% static 'img/homeimg.png' %}" alt="" />
    </section>
    <section class="part-2">
      <img src="{% static 'img/whyuse.png' %}" alt="" />
      <div>
        <p>✔️ Create a resume in minutes</p>
        <p>✔️ Fast and Easy to Use</p>
        <p>✔️ Download your resume as PDF</p>
        <p>✔️ Absolutely free</p>
      </div>
    </section>
    <section class="part-3">
      <h4>Trusted by students globally!</h4>
      <a href="{% url 'home' %}" class="precis">precis.io</h3>
    </section>
  </body>
</html>
