{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <title>Sign Up</title>
  </head>
  <body>
    <div>
    {% include "navbar.html" %}
    <form action="register" method="POST">
      {% csrf_token %}
      <h3>Sign Up</h3>
      <span>Email</span>
      <input type="email" name="email" required />
      <span>Password</span>
      <input type="password" name="password1" required />
      <span>Confirm Password</span>
      <input
        type="password"
        name="password2"
        required
      />
      <button type="submit">Register</button>
      {% if messages %} {% for message in messages %}
      <p class="{{message.tags}}">{{message}}</p>
      {% endfor %} {% endif %}
      <a href="{% url 'login' %}" class="signup">Have an account?<span>Login</span></a>
      
    </form>
  </body>
</html>
