<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <form action="register" method="POST">
      {% csrf_token %}
      <h3>Sign Up page</h3>
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password1" placeholder="Password" />
      <input type="password" name="password2" placeholder="Confirm Password" />
      <button type="submit">Register</button>
    </form>

    {% if messages %}
    <div>{% for message in messages %} {{message}} {% endfor %}</div>
    {% endif %}
  </body>
</html>
